.base_bg{width:100vw;height: 100vh;padding-top: 1px;background-image: url("../img/doctor/doctor_bg.png");background-repeat: no-repeat;background-size: 100% 100%;}

.fzFamily{
    font-family: 'DS-DIGIT';
}
.text-a7ff0d{
    color: #a7ff0d;
}
.fz50{
    font-size: 50px;
}
.fz16{
    font-size: 16px;
}
.text-white{
    color: #ffffff;
}
.width1376{
    width: 71.67vw;
}
.m-auto{
    margin: auto;
}
.d-inliblock{
    display: inline-block;
}
.mr15{
    margin-right: 15.57vw;
}
.mt34{
    margin-top: 34px;
}
.mt13{
    margin-top: 13.33vh;
}
.mt5{
    margin-top: 5vh;
}
.mt4{
    margin-top: 4vh;
}
.mt2{
    margin-top: 2vh;
}






















